<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlinexam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Questionansweraction</display-name>
    <servlet-name>Questionansweraction</servlet-name>
    <servlet-class>master.servlet.Questionansweraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questionansweraction</servlet-name>
    <url-pattern>/Questionansweraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regisservlet</display-name>
    <servlet-name>regisservlet</servlet-name>
    <servlet-class>master.servlet.regisservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regisservlet</servlet-name>
    <url-pattern>/regisservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>useranswerservlet</display-name>
    <servlet-name>useranswerservlet</servlet-name>
    <servlet-class>master.servlet.useranswerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useranswerservlet</servlet-name>
    <url-pattern>/useranswerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>master.servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questionsservlet</display-name>
    <servlet-name>Questionsservlet</servlet-name>
    <servlet-class>master.servlet.Questionsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questionsservlet</servlet-name>
    <url-pattern>/Questionsservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>scoreservlet</display-name>
    <servlet-name>scoreservlet</servlet-name>
    <servlet-class>master.servlet.scoreservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreservlet</servlet-name>
    <url-pattern>/scoreservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scoreservlet</display-name>
    <servlet-name>Scoreservlet</servlet-name>
    <servlet-class>master.servlet.Scoreservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scoreservlet</servlet-name>
    <url-pattern>/Scoreservlet</url-pattern>
  </servlet-mapping>
</web-app>